# Duplicates

Exploring the repeating records with in the dataset.

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("~/.warn-transformer/processed/consolidated.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42795 entries, 0 to 42794
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      42795 non-null  object
 1   hash_id      42795 non-null  object
 2   location     42257 non-null  object
 3   postal_code  42795 non-null  object
 4   jobs         42311 non-null  float64
 5   date         42788 non-null  object
dtypes: float64(1), object(5)
memory usage: 2.0+ MB

In [5]:
df.head()

,company,hash_id,location,postal_code,jobs,date
0,Bean’s Cafe,b855422a87ece9da20ec6571e2f8f6f48521d4e06610e5...,Anchorage,AK,40.0,2021-09-16
1,Kakivik Asset Mgmt,2214cbc57e63037a436152aeb018819a5e8777e2e8eab1...,Prudhoe Bay,AK,134.0,2021-07-02
2,First Student,20c76d62449eb697b6f95288b8982e36586afd99fc7b7c...,"Fairbanks, North Pole",AK,185.0,2021-04-30
3,GCI Communication Group,0ca0a89d9a684741de7f5199ef69ffc948b5df7e93e22c...,Anchorage,AK,59.0,2021-04-12
4,"RavnAir Group, Corvus Airlines, Hageland Aviat...",b7c5bb7e614fcce37f1f8c7ba00786faa5482270039b5c...,"Anchorage and 20 smaller Alaska communities, p...",AK,1234.0,2020-09-30

In [6]:
dupes_df = df[df.duplicated()]

In [7]:
dupes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   company      0 non-null      object
 1   hash_id      0 non-null      object
 2   location     0 non-null      object
 3   postal_code  0 non-null      object
 4   jobs         0 non-null      float64
 5   date         0 non-null      object
dtypes: float64(1), object(5)
memory usage: 0.0+ bytes

In [8]:
dupes_df.groupby("postal_code").size().rename("total").reset_index()

Empty DataFrame
Columns: [postal_code, total]
Index: []

Does the hashes works as a proxy for duplicates?

In [9]:
assert len(df.hash_id.unique()) == len(df) - len(dupes_df) == len(df.drop_duplicates())