# Duplicates

Exploring the repeating records with in the dataset.

In [22]:
import pandas as pd

In [23]:
df = pd.read_csv("../.warn-transformer/processed/consolidated.csv")

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42218 entries, 0 to 42217
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  42218 non-null  object
 1   date         42211 non-null  object
 2   hash_id      42218 non-null  object
 3   location     41687 non-null  object
 4   jobs         41744 non-null  float64
 5   company      42218 non-null  object
dtypes: float64(1), object(5)
memory usage: 1.9+ MB

In [25]:
df.head()

,postal_code,date,hash_id,location,jobs,company
0,AK,2021-09-16,1d826f1b7895fa3c8c7320c1d6bf0411483e75fa2c4c57...,Anchorage,40.0,Bean’s Cafe
1,AK,2021-07-02,bcb9ef28ff69e2578b92e0191ebb0a6b37d89b623c4cf5...,Prudhoe Bay,134.0,Kakivik Asset Mgmt
2,AK,2021-04-30,a1e57d33099ca7afb79ab240cc9d6c5b235cfaf1b78345...,"Fairbanks, North Pole",185.0,First Student
3,AK,2021-04-12,bc15861d1cdf1e5428061585fd794d2efba61fdecdd8e7...,Anchorage,59.0,GCI Communication Group
4,AK,2020-09-30,8a22fcc406104ba48d21f2eb3ec6df18f170e2f5c79ff8...,"Anchorage and 20 smaller Alaska communities, p...",1234.0,"RavnAir Group, Corvus Airlines, Hageland Aviat..."

In [26]:
dupes_df = df[df.duplicated()]

In [27]:
dupes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  0 non-null      object
 1   date         0 non-null      object
 2   hash_id      0 non-null      object
 3   location     0 non-null      object
 4   jobs         0 non-null      float64
 5   company      0 non-null      object
dtypes: float64(1), object(5)
memory usage: 0.0+ bytes

In [28]:
dupes_df.groupby("postal_code").size().rename("total").reset_index()

Empty DataFrame
Columns: [postal_code, total]
Index: []

Does the hashes works as a proxy for duplicates?

In [29]:
assert len(df.hash_id.unique()) == len(df) - len(dupes_df) == len(df.drop_duplicates())

What if we exclude the hash?

In [30]:
slim_df = df.drop(["hash_id"], axis=1)

In [31]:
slim_dupes_df = slim_df[slim_df.duplicated()]

In [32]:
slim_dupes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  0 non-null      object
 1   date         0 non-null      object
 2   location     0 non-null      object
 3   jobs         0 non-null      float64
 4   company      0 non-null      object
dtypes: float64(1), object(4)
memory usage: 0.0+ bytes

In [33]:
slim_dupes_df.groupby("postal_code").size().rename("total").reset_index()

Empty DataFrame
Columns: [postal_code, total]
Index: []