# Duplicates

Exploring the repeating records with in the dataset.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../.warn-transformer/processed/consolidated.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  311 non-null    object
 1   company      311 non-null    object
 2   date         305 non-null    object
 3   jobs         311 non-null    int64
dtypes: int64(1), object(3)
memory usage: 9.8+ KB

In [4]:
df.head()

  postal_code                                   company        date  jobs
0          IA  International Automotive Components, IAC  2016-10-21   460
1          IA               Premier Brick & Stone, Inc.  2016-10-31    25
2          IA                                    ShopKo  2016-11-01    24
3          IA                         Eaton Corporation  2016-11-18   144
4          IA                    Transamerica Life Ins.  2016-12-02    44

In [5]:
dupes_df = df[df.duplicated()]

In [6]:
dupes_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 74 to 155
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   postal_code  6 non-null      object
 1   company      6 non-null      object
 2   date         6 non-null      object
 3   jobs         6 non-null      int64
dtypes: int64(1), object(3)
memory usage: 240.0+ bytes

In [7]:
dupes_df.sort_values("hash_id").head()

KeyError: 'hash_id'

In [ ]:
dupes_df.groupby("postal_code").size().rename("total").reset_index()